[submodule "simcha_notebooks"]
	path = simcha_notebooks
	url = git@bitbucket.org:schwarzlab/simcha_notebooks.git
[submodule "cnsistent"]
	path = cnsistent
	url = https://bitbucket.org/schwarzlab/cnsistent
